# Local .terraform directories
**/.terraform/*

# Terraform state files (we use remote state, these shouldn't exist, but just in case)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude variable files that may contain secrets
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc

# Plan output files
*.tfplan
tfplan
